/* Importera bootstrap här? */

* {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1000px;
}

body {
  padding: 0 15px;
}

th {
  font-size: large;
}
td {
  font-weight: bold;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.img-container {
  height: 70px;
}

.showCartBtn {
  margin: 10px;
}

.emptyCartBtn,
.sendOrderBtn {
  margin-right: 10px;
  margin-top: 10px;
}

/*.alignRight {
  position: absolute;
  right: 15px;
}*/
